include setup.py
include LICENSE.txt
include INSTALL.txt
include MANIFEST.in
include PKG-INFO
include README.md
include run_tests.py
recursive-include * *.py
recursive-include * LICENSE.txt
recursive-include egads/third-party/nappy/* *.ini

